<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>

    
    {% load static %}
    <link rel="icon" href="{% static 'assets/home.png' %}">
    <style>
        h1{
            text-align: center;
            background-color: black;
            color: white;
            line-height: 80px;
        }
        img{
            width: 280px;
            height: 250px;
        }


    </style>

    
</head>
<body>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'home' %}">Home</a>



<h1>My Gallery</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur consequatur esse eveniet excepturi harum id iure magni maiores nemo officia repellendus saepe, sapiente temporibus voluptatem. Dignissimos doloremque ipsum voluptatibus.</span><span>Assumenda aut cum, deserunt eos error et harum ipsum iste iure labore magni, minima molestias provident quas quod rerum ut voluptas voluptates! At eveniet iure nihil provident quisquam voluptas voluptate.</span></p>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">

</body>
</html>