<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>

    <style>
        h1{
            text-align: center;
            background-color: black;
            color: white;
            line-height: 80px;
        }
        h1:hover{background-color: #006b1b}
    </style>
    {% load static %}
   <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
   <nav class="navbar bg-danger justify-content-end navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">HOME</a>


        </li>
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link">ABOUT</a>

        </li>
        <li class="nav-item">
            <a href="{% url 'Gallery' %}" class="nav-link">GALLERY</a>

        </li>
        <li class="nav-item">
            <a href="{% url 'form' %}" class="nav-link">FORM</a>

        </li>
          <li class="nav-item">
            <a href="{% url 'services' %}" class="nav-link">SERVICES</a>

        </li>
          <li class="nav-item">
            <a href="#" class="nav-link">LOGIN</a>

        </li>
        <li class="nav-item">
            <form action="" class="d-flex">
                <input type="search" placeholder="search.." class="form-control">
                <button class="btn btn-warning ms-3 me-5" >Search</button>
            </form>

        </li>





    </ul>

</nav>


<h1>QuickDash App</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam dicta dolores, eligendi excepturi ipsum magni, minima neque placeat quaerat quas qui quisquam quo soluta temporibus velit veniam voluptatem voluptates?</span><span>Delectus doloribus dolorum eius iusto laborum, magnam pariatur placeat quas soluta voluptates. Amet asperiores dolor dolorem eaque, eveniet magnam natus nesciunt nulla optio qui repellat, saepe sint tempore temporibus veniam.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci amet asperiores dicta enim expedita fuga, illo ipsam laboriosam mollitia nemo, obcaecati possimus reiciendis totam ut velit veritatis voluptatibus.</span><span>Ab adipisci amet dicta ea eligendi error est fugit illum ipsam minima natus nisi nulla odit omnis pariatur possimus quasi quibusdam quidem quo ratione recusandae repudiandae tenetur unde voluptatibus, voluptatum.</span></p>
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">




</body>
</html>