<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Page</title>
    {% load static %}
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar bg-danger justify-content-end navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="home.html" class="nav-link">HOME</a>


        </li>
        <li class="nav-item">
            <a href="about.html" class="nav-link">ABOUT</a>

        </li>
        <li class="nav-item">
            <a href="Gallery.html" class="nav-link">PROFILE</a>

        </li>
        <li class="nav-item">
            <a href="form.html" class="nav-link">REGISTER</a>

        </li>
          <li class="nav-item">
            <a href="services.html" class="nav-link">SERVICES</a>

        </li>
          <li class="nav-item">
            <a href="#" class="nav-link">LOGIN</a>

        </li>
        <li class="nav-item">
            <form action="" class="d-flex">
                <input type="search" placeholder="search.." class="form-control">
                <button class="btn btn-warning ms-3 me-5" >Search</button>
            </form>

        </li>





    </ul>

</nav>
<h1 class="text-center">PRODUCT INFORMATION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem deserunt dicta doloremque, ea eius ipsa itaque iure laudantium neque nesciunt optio porro quae quaerat repellat temporibus ullam unde, voluptatibus!</span><span>Assumenda dicta dolorem earum iusto laborum odit repellendus soluta tempore unde velit veniam voluptas voluptate, voluptatum! Consequuntur cupiditate dolorem ea explicabo fuga id minus nobis placeat quo repellat, totam velit?</span></p>
<table class="table table-striped table-hover container">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>
    <tr class="table-primary">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>
    <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
</table>
</body>
</html>